body {
  background-image: url("https://img.meta.com.vn/Data/image/2021/09/30/background-la-gi-anh-background-dep-9.png");
  background-position: bottom right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}
