<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,500" rel="stylesheet">

    <link rel="stylesheet" href="../vendor/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="../https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="../vendor/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../vendor/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../vendor/bootstrap/bootstrap.min.css">
</head>
<body>
<!-- ================Offcanvus Menu Area =================-->
<div class="side_menu">
    <ul class="list menu_right">
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="about.html">About</a>
        </li>
        <li>
            <a href="projects.html">Projects</a>
        </li>
        <li>
            <a href="facility/list.html">Service</a>
        </li>
        <li>
            <a href="#">Pages</a>
            <ul class="list">
                <li>
                    <a href="#">Elements</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Blog</a>
            <ul class="list">
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Blog Details</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</div>
<!--================End Offcanvus Menu Area =================-->

<!--================Canvus Menu Area =================-->
<div class="canvus_menu">
    <div class="container">
        <div class="float-right">
            <div class="toggle_icon" title="Menu Bar">
                <span></span>
            </div>
        </div>
    </div>
</div>
<!--================End Canvus Menu Area =================-->
<header>
    <div class="hero">
        <a class="navbar-brand" href="index.html">
            <img src="../img/logo.png" alt="">
        </a>

        <div class="owl-carousel owl-theme heroCarousel">
            <div class="item">
                <div class="hero__slide">
                    <img src="../img/hero-2.png" alt="">
                    <div class="hero__slideContent text-center">
                        <h1>Dream Heaven City</h1>
                        <p>If you are looking at blank cassettes on the web Lorem ipsum dolor sit amet, consectetur
                            adipisicing eiusmod tempor incididunt.</p>
                        <a class="btn btn--leftBorder btn--rightBorder" href="#/">Details</a>
                        <span class="hero__slideContent--right"></span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="hero__slide">
                    <img src="../img/hero-1.png" alt="">
                    <div class="hero__slideContent text-center">
                        <h1>Dream Heaven City</h1>
                        <p>If you are looking at blank cassettes on the web Lorem ipsum dolor sit amet, consectetur
                            adipisicing eiusmod tempor incididunt.</p>
                        <a class="btn btn--leftBorder btn--rightBorder" href="#/">Details</a>
                        <span class="hero__slideContent--right"></span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="hero__slide">
                    <img src="../img/hero-3.png" alt="">
                    <div class="hero__slideContent text-center">
                        <h1>Dream Heaven City</h1>
                        <p>If you are looking at blank cassettes on the web Lorem ipsum dolor sit amet, consectetur
                            adipisicing eiusmod tempor incididunt.</p>
                        <a class="btn btn--leftBorder btn--rightBorder" href="#/">Details</a>
                        <span class="hero__slideContent--right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


</body>
<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="../vendor/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../vendor/owl-carousel/owl.carousel.min.js"></script>

<script>
    var testimonialCarousel = $('.testimonialCarousel');
    testimonialCarousel.owlCarousel({
        loop: true,
        margin: 80,
        startPosition: 2,
        nav: false,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            },
            1000: {
                items: 2,
                loop: true
            }
        }
    });

    var heroCarousel = $('.heroCarousel');
    heroCarousel.owlCarousel({
        loop: true,
        margin: 10,
        nav: false,
        startPosition: 1,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1
            }
        }
    });

    var dropToggle = $('.menu_right > li').has('ul').children('a');
    dropToggle.on('click', function () {
        dropToggle.not(this).closest('li').find('ul').slideUp(200);
        $(this).closest('li').children('ul').slideToggle(200);
        return false;
    });

    $(".toggle_icon").on('click', function () {
        $('body').toggleClass("open");
    });

</script>
</html>